* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav {
 display: flex;
}

.nav-list {
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
}

.nav-list a {
  color: #fafafa;
}

#mv {
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 650px;
  width: 100%;
  display: flex;
}

.mv-text {
  position: relative;
  margin: 200px auto ;
}

.mv-title {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.mv-content {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #ec715f;
}

.footer-text {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}