* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 70px;
}

.nav {
 display: flex;
}

.nav-list {
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
}

.nav-list a {
  color: #fafafa;
}

#mv {
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  width: 100%;
  display: flex;
  text-align: center;
}

.mv-title {
  font-size: 64px;
  color: #fafafa;
  margin-top: 200px;
  margin-bottom: 10px;
}

.mv-content {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

#portfolio {
  background-color: #eceff1;
}

.title {
  padding-top: 90px;
  font-size: 32px;
  text-align: center;
}
.title::after {
 content: "";
 display: block;
 margin: 8px auto 0 auto;
 width: 70px;
 height: 3px;
 background-color: #ec715f;
}

.content {
  text-align: center;
  padding-top: 30px;
}

.pf-image-box {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pf-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.pf-image:first-child {
  background-image: url(img/sketch.jpg);
}

.pf-image:nth-child(2) {
  background-image: url(img/websuku.png);
}

.pf-image:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-right: 0;
}

.pf-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-bottom: 0;
}

.pf-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-bottom: 0;
}

.pf-image:last-child{
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
  margin-bottom: 0;
}

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  display: flex;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
}

.strength:last-child {
  margin-right: 0;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content {
  width: 50%;
}

.my-face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
  margin: 0 auto;
}

.right-content {
  width: 50%;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-text > p {
  font-size: 16px;
}

.skill {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact-group {
  width: 800px;
  display: flex;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}

.left-contact-content {
  width: 130px;
  margin: 0 auto;
}

.contact-content-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.contact-content-title:first-child {
  margin-top: 0;
}

.contact-content-text {
  text-decoration: underline;
  color: #212121;
}

.right-contact-content {
  width: 180px;
  margin: 0 auto;
}

.right-contact-content .fa {
  font-size: 50px;
  margin-right: 20px;
}

.right-contact-content .fa:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #ec715f;
}

.footer-text {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  .header-logo {
    height: 50px;
  }

  .menu-box {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  .nav-list {
    display: none;
  }

  .container {
    width: 90%;
  }

  #mv {
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }

  .pf-image-box {
    width: 300px;
    display: block;
  }

  .pf-image:nth-child(odd) {
    display: none;
  }
  
  .pf-image:nth-child(2) {
  margin-bottom: 10px;
  margin-right: 0;
 }

 .pf-image:nth-child(4) {
  margin-bottom: 10px;
  margin-right: 0;
 }

 .pf-image:nth-child(6) {
  margin-bottom: 0px;
  margin-right: 0;
 }

 .strength-group {
   width: 300px;
   display: block;
 }

 .strength {
   margin-right: 0;
   margin-bottom: 10px;
 }

 .profile-group {
   flex-flow: row wrap;
   text-align: center;
 }

 .right-content {
  width: 100%;
}

.left-content {
  width: 100%;
}

 .my-face {
   margin-bottom: 20px;
 }

 .contact-group {
   width: 100%;
   flex-flow: row wrap;
   text-align: center;
 }

 .left-contact-content {
   width: 100%;
 }

 .right-contact-content {
   width: 100%;
   margin-top: 20px;
 }

}