* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav {
 display: flex;
}

.nav-list {
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
}

.nav-list a {
  color: #fafafa;
}

#mv {
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  width: 100%;
  display: flex;
  text-align: center;
}

.mv-title {
  font-size: 64px;
  color: #fafafa;
  margin-top: 200px;
  margin-bottom: 10px;
}

.mv-content {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

#portfolio {
  background-color: #eceff1;
}

.title {
  padding-top: 90px;
  padding-bottom: 8px;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.title::after {
 content: "";
 display: block;
 margin: 8px auto 0 auto;
 width: 70px;
 height: 3px;
 background-color: #ec715f;
}

.content {
  text-align: center;
  margin: 30px 0;
}

.pf-image-box {
  width: 920px;
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pf-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.pf-image:first-child {
  background-image: url(img/sketch.jpg);
}

.pf-image:nth-child(2) {
  background-image: url(img/websuku.png);
}

.pf-image:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-right: 0;
}

.pf-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-bottom: 0;
}

.pf-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-bottom: 0;
}

.pf-image:last-child{
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
  margin-bottom: 0;
}

.strength-box {
  width: 980px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}

.strength-title {
  padding: 10px auto;
  font-size: 20px;
}

.strength:last-child {
  margin-right: 0;
}

.strength-text {
  padding-top: 10px;
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-group {
  width: 1024px;
  display: flex;
  padding-bottom: 90px;
}

.profile-image {
  width: 512px;
  text-align: center;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-text {
  width: 512px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-text > p {
  font-size: 16px;
}

.skill {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact-group {
  width: 800px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 90px;
}

.left-contact {
  width: 50%;
}

.adress {
  width: 130px;
  margin: 0 auto;
}

.adress > h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.adress > p {
  text-decoration: underline;
}

.mail-adress {
  margin-bottom: 20px;
}

.right-contact {
  width: 50%;
}

.sns {
  width: 200px;
  margin: 0 auto;
}

.sns > h2 {
  font-size: 20px;
}

.sns >.fab {
  font-size: 50px;
  margin-right: 20px;
}

.fab:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #ec715f;
}

.footer-text {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}